body
{

	margin: 0px; 
}

.headerDiv 
{
	
	background-color: #3a5795;
	
}
.headerMarginDiv
{
    margin: 0 154px auto;
	padding: 5px;
}
.headerLogoDiv
{
	color: white;
	float: left;
	width: 40%
	
}
.headerLoginDiv
{

	width: 40%;
    margin-left: 60%;
}
.containerDiv
{
	    margin: 4% 12%;
		background-color: #EDF0F5;
	   width: 100%;
}
.containerMarginDiv
{
	float: left;
	width: 80%;
    margin: 0 auto;
}
.containerUpdateDiv
{
    width: 45%;
	float: left;
}
.containerSignUpDiv
{
	    margin-left: 56%;
		/*padding-top: 20px;*/
}
tr
{
	color: white;
}
.footerDiv
{
	background-color: #FFFFFF;
	    height: 150px;
     clear: both;/* in case something is floating above */
}

.genderDiv
{
	margin: 3%;
	display: inline-block;
}
.floatFixed
{
	clear:  both;
}


.buttonSize
{
	color: white;
	height:40px;
    width:170px;
	background-color: #4CAF50;
	
}
.footerMarginDiv
{
	margin: 0 100px auto;
	padding: 5px;
}
.footerLowerDiv
{
	display: inline-block;
}


/* make changes only to the span tag under containerSignUpDiv class

 
.containerSignUpDiv span */

.signUpFontSize
{
	
	font-size: 45px;
	font-weight: bold;
}
.inputBoxHeight
{
	padding: 10px;
	height: 15px;
	font-size: 18px;
	width: 94%;
	margin-top: 4%;
}
.inlineBox
{
	width: 43%;
	margin-right: 7px;
	display: inline-block;
}
.update1
{
	    font-size: 28px;
    line-height: 36px;
    font-family: 'Freight Sans Bold', helvetica, arial, sans-serif !;
}